__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/

.ipynb_checkpoints/

data/processed/*

.vscode/
.idea/

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/
.eggs/

.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/

*.log

.env
.env.*

# data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

models/*
!models/.gitkeep

reports/*
!reports/.gitkeep

figures/*
!figures/.gitkeep

*.sqlite3
*.db
